html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

canvas {
  display: block;
  border: 1px solid black;
  margin: auto;
}

@media screen and (max-width: 700px) {
  canvas#gameView {
    width: 98%;
  }
}
